body{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  /* background: #282c34; */
  
}


.name{
  margin: 0;
  padding: 11px;
  /* border-top: 1px solid grey; */
  /* border-width: 100%; */
}



html {
  font-family: 'helvetica neue', 'arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 5em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: rgb(66, 66,65)
}

.btn {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 400px;
  height: 80px;
  font-family: Sans-Serif;
}

.btn1 {
  background-color: white;
  border: 3px solid #4CAF50;
  color: #4CAF50;
  text-transform: uppercase;
  height: inherit;
  width: inherit;
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  box-shadow: 10px 10px rgba(77, 77, 77, 0.5);
}

.btn1:hover {
  background-color:  #014055;
  color: white;
}
.btn1:active{
  border: 10px dotted;
}


.btn-container {
  width: 400px;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}


table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
   font-family: 'Lato', sans-serif;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.5em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 250;
  padding: 0.55em 1em;
  font-size: 20px;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

